<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alone.core.mapper.AppImgMapper">
    <select id="getImgs" resultType="Resources">
        SELECT r.* FROM t_resources r
        LEFT JOIN t_app_img ai ON ai.resources_id = r.id
        WHERE ai.app_id = #{id}
    </select>
</mapper>