<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alone.core.mapper.MobileBrandMapper">
    <select id="listByPage" resultType="java.util.HashMap">
        SELECT
          *
        FROM t_mobile_brand
        <if test="sortName != null">
            ORDER BY ${sortName} ${sortDir}
        </if>
    </select>
</mapper>