<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alone.core.mapper.RootConfigMapper">
    <select id="listByPage" resultType="java.util.HashMap">
        SELECT rc.*,
          r.size as resources_size, r.name as resources_name, r.md5 as resources_md5, r.create_time as resources_time
        FROM t_root_config rc
        LEFT JOIN t_resources r ON r.id = rc.resources_id
        <if test="sortName != null">
            ORDER BY rc.${sortName} ${sortDir}
        </if>
    </select>

    <select id="listAllAndResources" resultType="java.util.HashMap">
        SELECT rc.*, r.name AS resources_name, r.md5, r.size
        FROM t_root_config rc
        LEFT JOIN t_resources r ON r.id = rc.resources_id
    </select>

    <select id="allAndResourcesListByModel" resultType="java.util.HashMap">
        SELECT
        rc.*,
        r.name AS resources_name, r.md5, r.size
        FROM
        t_root_config rc
        LEFT JOIN t_model_ref mr ON mr.ref_id = rc.id
        LEFT JOIN t_resources r ON r.id = rc.resources_id
        WHERE
           mr.type = 1
        AND mr.model_id = #{model}
        group by rc.id
    </select>
</mapper>