<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alone.core.mapper.UserMapper">
    <select id="listByUser" resultType="User">
        SELECT * FROM t_user WHERE FIND_IN_SET(${user},pids)
    </select>
    <update id="updateChildStatus">
        UPDATE t_user SET `status` = #{status} WHERE FIND_IN_SET(#{pid}, pids)
    </update>
    <delete id="deleteUserChildrenRoles">
        DELETE ur.*
        FROM
        t_user_role ur
        LEFT JOIN t_user u ON u.id = rm.user_id
        WHERE
        FIND_IN_SET(#{user}, u.pids)
        AND FIND_IN_SET(ur.role_id,#{roles})
    </delete>
</mapper>