<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
			    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!-- activeMQ 连接工厂 -->
    <amq:connectionFactory id="targetConnFactory" brokerURL="tcp://127.0.0.1:61616?connectionTimeout=3000" clientIDPrefix="data-mgr-core"/>

    <!-- spring jms 连接工厂,因为使用了activeMQ的池化工厂，所以这里不用CacheConnectionFactory -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="targetConnFactory" />
        <property name="sessionCacheSize" value="10" />
    </bean>

    <!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="deliveryMode" value="2"/>
        <property name="pubSubDomain" value="true" />
    </bean>

    <!-- 消息主题 -->
    <amq:topic id="topic-box" name="topic-box" physicalName="t.core.box"/>
    <amq:topic id="topic-sdk" name="topic-sdk" physicalName="t.core.sdk"/>
    <!-- 接收队列 -->
    <!--<amq:queue id="queue-box" name="queue-box" physicalName="q.core.box"/>
    <amq:queue id="queue-sdk" name="queue-sdk" physicalName="q.core.sdk"/>

    &lt;!&ndash; 接收消息盒子消息&ndash;&gt;
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="queue-box"/>
        <property name="messageListener" ref="boxMsgListener" />
        <property name="concurrentConsumers" value="1" />
        <property name="maxConcurrentConsumers" value="1" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="autoStartup" value="true" />
    </bean>

    &lt;!&ndash; 接收消息SDK消息&ndash;&gt;
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="queue-box"/>
        <property name="messageListener" ref="SDKMsgListener" />
        <property name="concurrentConsumers" value="1" />
        <property name="maxConcurrentConsumers" value="1" />
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
        <property name="autoStartup" value="true" />
    </bean>-->
</beans>